<nav class="navbar navbar-expand navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">Home</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li *ngIf="!isLoggedIn" class="nav-item">
                    <a class="nav-link" routerLink="login" >Login</a>
                </li>
                <li *ngIf="!isLoggedIn" class="nav-item">
                    <a class="nav-link" routerLink="register" >Register</a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item">
                    <a class="nav-link" routerLink="home/create">Create</a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item">
                    <a class="nav-link" routerLink="Home" (click)="OnLogout()">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>