h2{
    margin-top: 2rem;
    align-items: center;
    display: grid;
    justify-content: center;
}
.form-group{
    margin: 2rem;
}
.container{
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: bisque;
}
small{
    color: red;
}