.container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
  